nav#navbar {
  background-color: #272830;
  height: 96px;
  padding: 26px;
  box-shadow: none;
  text-align: center; }

nav#navbar ul a {
  text-align: center;
  color: #F03F7B;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  background-color: #272830;
  font-size: 18px; }

nav#navbar ul a:hover {
  border-bottom: 1px solid #72DEFF; }

.wrapper {
  width: 100%;
  margin: 0; }

header.masthead {
  position: relative;
  text-align: center;
  color: #E6E6E8;
  font-weight: 100;
  background-color: #272830;
  background-size: cover; }

header.masthead #particles-js {
  position: absolute;
  top: 0;
  height: 450px;
  width: 100%;
  z-index: 1; }

header.masthead .intro-text {
  position: relative;
  z-index: 2;
  padding-top: 300px;
  padding-bottom: 200px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700; }

header.masthead .intro-text .intro-lead-in {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; }

header.masthead .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700; }

@media (min-width: 768px) {
  header.masthead .intro-text .intro-lead-in {
    font-size: 26px;
    line-height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; }
  header.masthead .intro-text .intro-heading {
    font-size: 95px;
    font-weight: 300;
    line-height: 75px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300; } }

@media only screen and (min-width: 1024px) {
  .nav-wrapper {
    width: 1024px;
    margin: auto; } }

@media only screen and (max-width: 992px) {
  #navbar {
    display: none; } }

.btn-floating.btn-large {
  border: none; }

#moreaboutme {
  background-color: #1EB980;
  font-weight: 500;
  opacity: 0.7; }

#aboutme {
  background-color: #33343E;
  padding: 96px; }

#aboutme img {
  width: 132px;
  height: 132px;
  border-radius: 25%;
  opacity: 0.8; }

h5 {
  font-size: 36px;
  line-height: 2.875rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #E6E6E8; }

#aboutme p {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 190%; }

.contact-detalles a {
  font-family: 'Montserrat', sans-serif;
  color: #72DEFF; }

.wrapper {
  width: 100%;
  margin: 0; }

@media only screen and (min-width: 1024px) {
  .wrapper {
    width: 1024px;
    margin: auto; } }

#myskills {
  background-color: #272830;
  padding: 96px; }

#myskills li {
  list-style-type: disc !important;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 160%; }

#myskills .fab {
  color: #a1a1a1;
  letter-spacing: 12px; }

#myskills li::marker {
  color: #F03F7B; }

#myexperience {
  background-image: linear-gradient(#33343E, #272830);
  padding: 96px; }

#myskills p {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 160%; }

#contactme {
  background-color: #33343E;
  padding: 96px; }

#message {
  padding: 26px; }

.page-footer {
  background-color: #272830;
  height: 96px;
  padding: 26px; }

